@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*
{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    font-family: 'Bangers', cursive;
}
body
{
    background: #000;
    background-color:rgb(51, 47, 47);
	
}
.menu-bar
{
    font-size: 30px;
    color: #fff;
	text-transform: uppercase;
    font-weight: 700;
	letter-spacing: 5px;
    line-height: 24px;
    padding: 300px;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
  
}
.btn
{
    font-size: 18px;
    font-weight: bold;
    background: #ed1b24;
    width: 300px;
    padding: 30px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn:hover, .btn:focus, .btn:active
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}